*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*--header--*/
.progress{
  position: fixed;
  left: 0;
  right: 0;
  width: 0%;
  height: 5px;
  background-color: rgb(255, 5, 5);
  z-index: 495;
}
/*--carousel--*/
.carousel-item img{
  height: 100vh;
}
/*--section first with red car--*/
.first{
  height: 60vh;
  position: relative;
}
.first img{
  height: 210px;
  width: 400px;
  position: absolute;
  top:-15vh;
  right:5vw;
  z-index: 111;
}
.first_wrap{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  width: fit-content;
  padding-top:20vh;
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 2s ;
}
.first_wrap.active{
  transform: translate(0px,0px);
  opacity: 1;
}
.squer{
  height: 100px;
  width: 100px;
  border:2px solid rgb(219, 219, 219);
  margin:5vh;
  position: relative;
  
}
.squer img{
position: absolute;
height: 60px;
width: 100px;
top:25px;
left:0px;
}