*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*--header--*/
.header_top{
  background-color: black;
  height: 10vh;
}
/*--carousel--*/
.carousel-item img{
  height: 100vh;
}
/*--section first with red car--*/
.first{
  height: 60vh;
  position: relative;
}
.first img{
  height: 210px;
  width: 400px;
  position: absolute;
  top:-15vh;
  right:5vw;
  z-index: 111;
}