*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*--header--*/
.header_top{
  background-color: black;
  height: 10vh;
}
/*--carousel--*/
.carousel-item img{
  height: 100vh;
}
/*--section first with red car--*/
.first{
  height: 60vh;
  position: relative;
}
.first img{
  height: 210px;
  width: 400px;
  position: absolute;
  top:-15vh;
  right:5vw;
  z-index: 111;
}
.first_wrap{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  width: fit-content;
  padding-top:20vh;
 
}
.squer{
  height: 100px;
  width: 100px;
  border:2px solid rgb(219, 219, 219);
  margin:5vh;
  position: relative;
  
}
.squer img{
position: absolute;
height: 60px;
width: 100px;
top:25px;
left:0px;
}