*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-align: center;
}

/*--header--*/
.progress{
  position: fixed;
  left: 0;
  right: 0;
  width: 0%;
  height: 5px;
  background-color: rgb(255, 5, 5);
  z-index: 495;
}
/*--carousel--*/
.carousel-item img{
  height: 100vh;
}
/*--section first with red car--*/
.first{
  height: fit-content;
  position: relative;
  padding:10vh;
  
}
.red_auto{
  height: 210px;
  width: 400px;
  position: absolute;
  top:-15vh;
  right:5vw;
  z-index: 111;
}
.first_wrap{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  width: fit-content;
  padding-top:20vh;
  transform: scale();
  opacity: 0;
  transition: all 2s ;
}
.first_wrap.active{
  
  opacity: 1;
}
.squer{
  height: 100px;
  width: 100px;
  border:2px solid rgb(219, 219, 219);
  margin:5vh;
  position: relative;
  
}
.squer img{
position: absolute;
height: 60px;
width: 100px;
top:25px;
left:0px;
}
/*-second-*/
.second{
  padding: 10vh 0 10vh 0;
  transition: all 2s ease 0 ;
}
.second_wrap{
  border:2px solid grey;
  border-radius: 10px;
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10vh;
  transform: translate(0px,50%);
  opacity: 0;
  transition: all .6s ;
}

.second_wrap.active{
  transform: translate(0px,0px);
  opacity: 1;
}
.second_wrap:hover{
  box-shadow: rgb(231, 230, 230) 6px 7px 16px 5px;
}
.second_wrap img{
  height: 150px;
  width: 250px;
  border-radius: 10px;
}
.second_content{
  padding: 15px;
  
  overflow: hidden;
}

/*-three-*/
.three{
  height: 40vh;
  background-color: black;
}
 .three_wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10vh;
}
.three h2{
color: white;
}
.input{
  color:white;
}
/*--footer--*/
footer{
  height: 10vh;
  color:white;
  font-weight: 600;
  text-align: center;
  background-color: darkslategrey;

}

@media (max-width:640px){
  .first{
    padding:0;
  }
  .second_wrap{
    width: fit-content;
    padding:5vh;
  }
  .second_wrap img{
    display: none;
  }
  .red_auto{
    height: 150px;
    width: 250px;
  }
  .carousel{
    display: none;
    
  }
  .squer{
    margin-left: 13vw;
  }
  .background_media{
    height: 100vh;
    background-image: url('../img/bmw-z4-bmv-avtomobil-avto-oboi.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width:340px){

    .squer{
      margin-left: 7vw;
    }
    .red_auto{
      height: 110px;
      width: 200px;
    }

  }
}
